
<footer data-am-widget="footer" class="am-footer am-footer-default">
<div class="am-footer-miscs ">
</div>
</footer>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="" style="display:block">
<ul class="am-navbar-nav am-cf am-avg-sm-4">
<li>
<a href="?mod=creditmall&code=goods&op=list&3g=1">
<span class="am-icon-home"></span>
<span class="am-navbar-label">首页</span>
</a>
</li>
<li>
<a href="?mod=creditmall&code=order&op=list&3g=1">
<span class="am-icon-list"></span>
<span class="am-navbar-label">兑换记录</span>
</a>
</li>
</ul>
</div>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="templates/creditmall/assets/js/amazeui.js"></script>
</body>
</html>