<!--{template @creditmall/header_3g}-->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
<div class="am-list-news-bd">
<ul class="am-list">
{loop $list $one}
<a class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" href="?mod=creditmall&code=goods&op=info&id={$one[id]}&3g=1">
<div class="am-u-sm-4 am-list-thumb">
<img src="{$one[image]}" alt="{$one[name]}" />
</div>
<div class="am-u-sm-8 am-list-main">
<h3 class="am-list-item-hd">
{$one[name]}
</h3>
<div class="am-list-item-text">所需积分：{$one[price]} | 有效期：{eval echo date('Y-m-d', $one[expire]);} | 库存：{$one[total]}</div>
</div>
</a>
{/loop}
</ul>
{if false!=($page_html=page_moyo())}
<table class="am-table"><tr><td class="page-btn-3g">{$page_html}</td></tr></table>
{/if}
</div>
</div>
<!--{template @creditmall/footer_3g}-->