<!--{template @creditmall/header_3g}-->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
<div class="am-list-news-hd am-cf">
<h2>消息提示</h2>
<span class="am-list-news-more"><em class="price"></em></span>
</div>
<table class="am-table">
<thead>
<tr>
<th> &nbsp; </th>
</tr>
</thead>
<tbody>
<tr>
<td>{$msg}</td>
</tr>
<tr>
<td>
{if $to}
<a href="{$to}">点此跳转到指定的页面</a>，或
{/if}
<a href="javascript:history.go(-1); return false;">点此返回</a>
</td>
</tr>
</tbody>
</table>
</div>
<!--{template @creditmall/footer_3g}-->