@charset "utf-8";
/******/
.Login{border:1px solid #dcdfe4;width:320px;background:#FFF}
.LoginTitle{height:30px;line-height:30px;background:#65AF4B;font-size:14px;font-weight:bold;padding-left:14px;color:#ffffff;position:relative;}
.LoginTitle a{color:#fff;font-size:12px;padding-right:10px;position:absolute;right:10px;top:0;}
.Login dl{height:26px;padding-top:18px;line-height:26px;}
.Login dl.checkboxB{padding-top:5px;}
.Login dl.checkboxB dd label{padding-right:15px;float:left;}
.Login dl.checkboxB dd label input{margin:7px 3px 0 0;float:left;}
.Login dl.Btnbox{height:34px;padding-bottom:10px;}
.Login dl dt{width:80px;float:left;text-align:right;}
.Login dl dd{float:left;}
.LoginText{height:18px;line-height:18px;padding:3px;border:1px solid #bbbbbb;float:left;}
.LoginBtn{background:#ff893a;border:0;padding:0;margin:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:130px;height:34px;font-size:15px;color:#fff;font-weight:bold;cursor:pointer;}
.Login_Other{border-top:#dcdfe4 dashed 1px;width:280px;margin:0 auto;padding:0 10px 18px 10px;}
.Login_Other b{height:36px;line-height:36px;display:block;color:#666666;font-weight:normal;}
.LoginB{background:#f7f7f7;padding:0 20px;border:1px solid #ffffff;width:278px;}
.LoginB p{height:44px;line-height:22px;}
.LoginB p strong{color:#cc6600;}
.LoginB .join{width:130px;border:1px solid #cccccc;display:block;margin:8px auto 15px auto;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;line-height:34px;height:34px;text-align:center;background:#eaebed;font-weight:bold;font-size:14px;}

#user_login_msg{border:1px solid #fcad39;background:#fffcf5;margin:10px 10px 0;height:25px;line-height:25px;background:url(../images/weizhid.png) no-repeat 10px 6px;padding-left:30px;color:red}
.tipmsg{border:1px solid #fcad39;background:#fffcf5;margin:10px 10px 0;height:25px;line-height:25px;background:url(../images/weizhid.png) no-repeat 10px 6px;padding-left:30px;color:red}

.Prompt{width:450px;border:5px solid #999999;}
.PromptTitle{height:30px;line-height:30px;padding:0 10px;border-bottom:1px solid #cccccc;background:#f3f3f3;font-size:14px;font-weight:bold;}
.Prompt dl{padding:15px 0 15px 30px;}
.Prompt dl dt{width:48px;float:left;}
.Prompt dl dd{float:left;padding-left:12px;}
.Prompt dl dd h2{font-size:14px;font-weight:bold;}
.Prompt dl dd p{padding:5px 0;}
.Prompt dl dd p a{color:#005ea7;}

/*短信验证*/
.aq_durex{width:340px;border:5px solid #999999;}
.J_ValidateMod{padding:5px 0 0 70px;}
.aq_durex dl{padding-top:10px;}
.aq_durex dl dt{float:left;width:70px;font-size:14px;text-align:right;}
.aq_durex dl dd{}
.aq_durex dl dd .yztext{border:1px solid #CCCCCC;height:24px;line-height:24px;vertical-align:middle;width:198px;}
.act{padding:10px 0 10px 70px;margin-top:20px;height:26px;}
.act input{height:26px;line-height:26px;padding:0 10px;cursor:pointer;border-radius:2px;-moz-border-radius:2px;float:left;margin-right:8px;}
.act .btn-orange{background:#ff8323;border:1px solid #b15411;
	background-image: -moz-linear-gradient(top, #ffa149, #fe730c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa149), color-stop(1, #fe730c));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa149', endColorstr='#fe730c', GradientType='0');}
.act .btn-gray{background:#ececec;border:1px solid #999999;
	background-image: -moz-linear-gradient(top, #fdfdfd, #dfdfdf);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(1, #dfdfdf));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dfdfdf', GradientType='0');}
	
	
.userRight h5{height:30px;line-height:30px;color:#535353;background:#f9f9f9;margin-bottom:6px;padding-left:20px;font-weight:bold;font-size:14px;border:1px solid #e8e8e8;
	box-shadow:1px 1px 0px #ffffff inset,-1px -1px 0px #ffffff inset;
	background-image: -moz-linear-gradient(top, #f9f9f9, #e7e7e7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #e7e7e7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e7e7e7', GradientType='0');
}
.userRight table{border-collapse:collapse; margin-bottom:6px;border-spacing:0; cellspacing:0; cellpadding:0;}
.userRight table th{ border:solid 1px #DDDDDD; padding:5px; line-height:26px;}
.userRight table td{ border:solid 1px #DDDDDD; padding:5px; line-height:26px;}
.userRight .inputBg{height:18px;line-height:18px;padding:2px 3px;border:1px solid #cccccc; width:180px;}
.bnt_blue_1{
	margin-right:10px;
	cursor:pointer;
	width:80px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:1px solid #e46d1d;
	background:#F63;
	color:#ffffff;
	box-shadow:1px 1px 0px #f8ccb0 inset,-1px -1px 0px #f8ccb0 inset;
	background-image: -moz-linear-gradient(top, #ffac75, #FF822F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffac75), color-stop(1, #FF822F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac75', endColorstr='#FF822F', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}
.bnt_blue_2{
	margin-right:10px;
	cursor:pointer;
	width:120px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:1px solid #e46d1d;
	background:#F63;
	color:#ffffff;
	box-shadow:1px 1px 0px #f8ccb0 inset,-1px -1px 0px #f8ccb0 inset;
	background-image: -moz-linear-gradient(top, #ffac75, #FF822F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffac75), color-stop(1, #FF822F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac75', endColorstr='#FF822F', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}
.bnt_blue{
	margin-right:10px;
	cursor:pointer;
	width:80px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:1px solid #e46d1d;
	background:#F63;
	color:#ffffff;
	box-shadow:1px 1px 0px #f8ccb0 inset,-1px -1px 0px #f8ccb0 inset;
	background-image: -moz-linear-gradient(top, #ffac75, #FF822F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffac75), color-stop(1, #FF822F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac75', endColorstr='#FF822F', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}