@charset "utf-8";
.headerBj{padding:0;}
.Navigation .menu .cate_bd{height:325px;}
.Navigation .menu .cate_bd{display:block}
.indexLeft{width:196px;float:left;position:relative}
.indexLeftYY{background:url(../images/indexLeft.png) repeat-y;width:10px;height:314px;position:absolute;right:0;top:0;z-index:10;_display:none}
.floor_bd .indexLeftYY{height:548px;}
.Navigation{margin:0 auto;padding:0;}
.fixedBox ul.fixedBoxList li.fixeBoxLi.Home{display: none;}
.mfpSlide{width:100%;height:325px;background:url(../images/mfpSlide.png);}
.slideBox{height:325px;overflow:hidden;}

.slideBox .hd{position:relative;z-index:100;}
.slideBox .hd ul{position:absolute;left:225px;top:288px;z-index:100;}
.slideBox .hd ul li{width:26px;height:26px;line-height:26px;float:left;color:#ffffff;font-size:12px;text-align:center; cursor:pointer;margin-left:5px;background:#999999;border-radius:12px 12px 12px 12px;}
.slideBox .hd ul li.on{background:#e4393c}
.slideBox .bd{}
.slideBox .bd ul{height:325px;}
.main.slideBox .bd ul li{height:325px;overflow:hidden;position:relative;float:left;}
.DirectPromo{width:200px;position:absolute;right:16px;top:20px;z-index:100;}
.DirectPromo .DirectpromoBox{width:200px;height:120px;margin-bottom:10px;box-shadow:0 0 5px rgba(0, 0, 0, 0.6);}
.slideBox .bd ul li .maxBox img{position:absolute;top:0;}

.Announcement{width:195px;height:182px;border-left:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.AnnouncementTitle{height:36px;line-height:36px;background:#f0f0f0;}
.AnnouncementTitle span{width:97px;height:36px;display:block;float:left;font-family:微软雅黑,黑体;font-size:14px;color:#333333;text-align:center;cursor:pointer;}
.AnnouncementTitle span.cur{background:#ffffff;}

.AnnouncementList{padding:10px 0 0 14px;}
.AnnouncementList li{height:24px;line-height:24px;overflow:hidden;padding-right:12px;}
.AnnouncementList li a{color:#666666;}
.announcementC{display:none;padding-top:1px;}
.TheyareBuyingC{height:138px;overflow:hidden;margin-top:7px;position:relative;}
.TheyareBuyingC ul{position:absolute;left:0;top:0;}
.TheyareBuyingC ul li{height:45px;margin:0 12px;}
.TheyareBuyingC ul li p{height:19px;line-height:19px;overflow:hidden;}
.TheyareBuyingC ul li p.lip2 a{color:#c67e44;margin-right:8px;text-decoration:underline;}


.indexRight{float:left;}
.mod_day{height:34px;line-height:34px;}
.mod_day h4{float:left;font-family:微软雅黑,黑体;color:#000;padding:0 18px 0 12px;background:url(../images/ico.gif) no-repeat right center;}
.mod_day ul{float:left;padding-left:20px;}
.mod_day span{float:right}
.mod_day span a{color:#979797;}
.slideTxtBox{height:248px;border-bottom:1px solid #ccc;border-bottom:0 none}
.slideTxtBox .bd ul{height:248px;overflow:hidden;}

.slideTxtBox .bd ul li{height:248px;float:left;}
.slideTxtBox .bd ul li a{display:block;height:248px;background:url(../images/ico.gif) no-repeat -999px -999px;}
.slideTxtBox .hd{}
.slideTxtBox .hd li{height:30px;float:left;line-height:32px;text-align:center;border:1px solid #ccc;background:#fff;border-left:0 none}
.slideTxtBox .hd li a{color:#333333;display:block;font-family:微软雅黑,黑体;font-weight:bold;font-size:14px;}
.slideTxtBox .hd li.on{height:32px;line-height:32px;border:0 none;background:#66ad21;position:relative;}
.slideTxtBox .hd li.on a{color:#fff;position:absolute;left:0;top:-6px;height:32px;background:url(../images/liboxcur.png) no-repeat center top;padding-top:6px;}

.mainTitle{height:40px;}
.mainTitle h4{float:left;font-family:微软雅黑,黑体;font-size:22px;height:40px;line-height:40px;}
.mainTitle h4 a{color:#CC3300;}
.mainTitle h4 span{width:29px;height:34px;display:block;background:url(../images/mainTitle.png) no-repeat;float:left;margin:2px 0 0 0;display:inline;}
.mainTitle h4 strong{float:left;padding:0 5px 0 8px;font-weight:normal;}
.floor_bd .indexLeft{border-top:2px solid #CC3300}
.SalesRank dl dd .ico{width:19px;height:19px;line-height:19px;overflow:hidden;position:absolute;top:0;left:0;background:#c67e44;color:#ffffff;text-align:center}

/*f1*/
.mainTitle h4 a{color:#cc3300;}
.mainTitle h4 span{background:url(../images/mainTitle.png) no-repeat;}
.floor_bd .indexLeft{border-top:2px solid #cc3300}
.SalesRank dl dd .ico{background:#cc3300;}

/*f2*/
.mainTitle.f2 h4 a{color:#c67e44}
.mainTitle.f2 h4 span{background-position:-29px top}
.floor_bd .indexLeft.f2{border-top-color:#c67e44;}
.SalesRank.f2 dl dd .ico{background:#c67e44}

/*f3*/
.mainTitle.f3 h4 a{color:#ff9900}
.mainTitle.f3 h4 span{background-position:-58px top}
.floor_bd .indexLeft.f3{border-top-color:#ff9900;}
.SalesRank.f3 dl dd .ico{background:#ff9900}

/*f4*/
.mainTitle.f4 h4 a{color:#df5031}
.mainTitle.f4 h4 span{background-position:-87px top}
.floor_bd .indexLeft.f4{border-top-color:#df5031;}
.SalesRank.f4 dl dd .ico{background:#df5031}

/*f5*/
.mainTitle.f5 h4 a{color:#79ac26}
.mainTitle.f5 h4 span{background-position:-116px top}
.floor_bd .indexLeft.f5{border-top-color:#79ac26;}
.SalesRank.f4 dl dd .ico{background:#79ac26}

.mainTitle .titleMenu{float:right;text-align:right;height:38px;line-height:38px;padding-top:2px;}
.main1200 .mainTitle .titleMenu{}
.mainTitle .titleMenu a{color:#666666;}
.mainTitle .titleMenu span{color:#cccccc;padding:0 8px 0 10px;}

.floor_bd{}
.floor_bd .indexLeft{width:199px;border-bottom:1px solid #dddddd;}
.main1200 .floor_bd .indexLeft{}
.floor_bd .indexLeft p{width:198px;height:276px;overflow:hidden;border-left:1px solid #dddddd;}
.floor_bd .indexLeft p img{width:198px;height:276px;}
.floor_bd .indexLeft ul{height:272px;overflow:hidden;}
.floor_bd .indexLeft ul li{width:98px;height:68px;float:left;border-left:1px solid #dddddd;border-bottom:1px solid #F1F1F1;text-align:center}
.floor_bd .indexLeft ul li.even{width:99px;border-left:1px solid #F1F1F1;}
.floor_bd .indexLeft ul li img{}
.floor_bd .indexRight{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-top:2px solid #DDDDDD;height:548px;overflow:hidden;}
.floor_bd .indexRight ul{height:548px;overflow:hidden;float:left}

.floor_bd .indexRight ul li{height:274px;float:left;border-left:1px solid #F1F1F1;border-bottom:1px solid #F1F1F1;position:relative;}
.floor_bd .indexRight ul li.none{display:none;}
.floor_bd .indexRight ul li i{width:65px;height:78px;position:absolute;right:12px;top:16px;z-index:10;display:block;background:url(../images/superscript_dot.png) no-repeat}
.main1200 .floor_bd .indexRight ul li i{right:15px;}
.floor_bd .indexRight ul li i.SpecialOffer{}
.floor_bd .indexRight ul li i.NewProducts{background-position:-65px top}
.floor_bd .indexRight ul li i.Popularity{background-position:-130px top}
.floor_bd .indexRight ul li i.Limit{background-position:-195px top}

.floor_bd .indexRight ul li .img{margin:16px auto 0}
.floor_bd .indexRight ul li .img,.floor_bd .indexRight ul li .img img{width:170px;height:170px;overflow:hidden;}
.floor_bd .indexRight ul li .img img:hover{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.floor_bd .indexRight ul li .price_wrap{width:170px;margin:10px auto 0;padding:0;height:28px;line-height:28px;}
.floor_bd .indexRight ul li .price_wrap strong{font-size:18px;}
.floor_bd .indexRight ul li .price_wrap strong span{font-size:12px;}
.floor_bd .indexRight ul li .title_wrap{padding:0;width:170px;margin:0 auto;height:36px;overflow:hidden;}
.floor_bd .indexRight ul li .title_wrap a{color:#929292;}

.LocalProducts{float:left;height:548px;overflow:hidden;}
.LocalProducts1{height:274px;float:left;overflow:hidden;border-left:1px solid #F1F1F1;border-bottom:1px solid #F1F1F1;}
.LocalProducts1 h3{padding:13px 0 0 18px;height:26px;}
.LocalProducts1 .localP1{height:220px;padding:0 0 0 12px;overflow:hidden}
.LocalProducts1 .localP1 dt.localP1Dt{height:200px;float:left;padding-top:20px;overflow:hidden}
.LocalProducts1 .localP1 dd.localP1Dd{height:225px;float:left;padding-left:22px;overflow:hidden}
.LocalProducts1 .localP1 dd.localP1Dd h5{font-family:微软雅黑,黑体;font-size:18px;font-weight:normal;height:28px;line-height:28px;overflow:hidden;}
.LocalProducts1 .localP1 dd.localP1Dd p{color:#999999;height:44px;line-height:22px;overflow:hidden;margin-bottom:10px;}
.LocalProducts1 .localP1 dd.localP1Dd dl{height:75px;overflow:hidden;}
.LocalProducts1 .localP1 dd.localP1Dd dl dt{width:56px;float:left;}
.LocalProducts1 .localP1 dd.localP1Dd dl dt img{width:50px;height:50px;}
.LocalProducts1 .localP1 dd.localP1Dd dl dd{width:120px;float:left;line-height:18px;}
.LocalProducts1 .localP1 dd.localP1Dd dl dd .price_wrap{height:24px;line-height:24px;padding:0;color:#ed3f3f;font-weight:bold;}
.LocalProducts1 .localP1 dd.localP1Dd dl dd .title_wrap{height:40px;line-height:20px;overflow:hidden;padding:0;}
.LocalProducts1 .localP1 dd.localP1Dd dl dd .title_wrap a{color:#929292}

.floor_bd .indexRight .LocalProducts ul{height:274px;}



.SalesRank{height:548px;border-left:1px solid #F1F1F1;float:left;}
.main1200 .SalesRank{width:199px;}
.SalesRank .SalesRankTitle{height:31px;line-height:30px; text-align:center;font-family:微软雅黑,黑体;font-size:16px;border-bottom:1px solid #F1F1F1;}
.SalesRank dl{height:80px;overflow:hidden;border-bottom:1px solid #F1F1F1;position:relative;}
.SalesRank dl dt{width:56px;float:left;padding:12px 0 0 10px;}
.SalesRank dl dt img{width:50px;height:50px;}
.SalesRank dl dd{width:120px;float:left;}
.SalesRank dl dd .ico{width:19px;height:19px;line-height:19px;overflow:hidden;position:absolute;top:0;left:0;color:#ffffff;text-align:center}

.SalesRank dl dd .price_wrap{height:24px;line-height:24px;padding:0;color:#ed3f3f;font-weight:bold;}
.SalesRank dl dd .title_wrap{height:40px;line-height:20px;overflow:hidden;padding:0;}
.SalesRank dl dd .title_wrap a{color:#929292}

.SalesRankAd,.SalesRankAd1{height:135px;border:1px solid #ffffff;overflow:hidden;}
.SalesRankAd1{border-top:0 none}
.main1200 .SalesRankAd,.main1200 .SalesRankAd1{width:197px;}

.footermenu{border:2px solid #dddddd;background:#fafafa;width:976px;}
.main1200.footermenu{width:1196px;}
.footermenu li{border-bottom:1px solid #dddddd;}
.footermenu li dl{width:47%;padding-left:22px;float:left;}
.footermenu li dl dt{height:28px;padding-top:8px;line-height:28px;font-family:微软雅黑,黑体;font-size:15px;}
.footermenu li dl dt a{color:#000000;}
.footermenu li dl dd{width:80%;line-height:22px;padding-bottom:10px;}
.footermenu li dl dd a{padding-right:15px;}
.floor_bd .indexRight .LocalProducts .LocalProducts1 dl.localP1 dd.localP1Dd dl.lockP2 dd .price_wrap strong{font-weight:bold;}
.floor_bd .indexRight .LocalProducts .LocalProducts1 dl.localP1 dd.localP1Dd dl.lockP2 dd .price_wrap strong span{font-size:12px;font-weight:normal;}
.floor_bd .indexRight .LocalProducts .LocalProducts1 dl.localP1 dd.localP1Dd dl.lockP2 dd .price_wrap del{font-weight:normal;}

.indexmainBa .main{position:relative}
.indexmainBa .indexmax{background:url(../images/indexmax.jpg) no-repeat center top;display:none;height:392px;overflow:hidden;}
.indexmainBa .indexmax .Btn{width:23px;height:23px;overflow:hidden;background:url(../images/lsadkfj.png) no-repeat;position:absolute;right:0;top:35px;cursor:pointer;}
.indexmainBa .indexmin{background:url(../images/indexmin.jpg) no-repeat center top;display:block;height:100px;overflow:hidden;}
.indexmainBa .indexmin .Btn{width:23px;height:23px;overflow:hidden;background:url(../images/lsadkfj.png) no-repeat left -23px;position:absolute;right:0;top:35px;cursor:pointer;}
.indexmainBa .indexmax a{height:392px;display:block;}
.indexmainBa .indexmin a{height:100px;display:block;}