@charset "utf-8";
/******/
body{font-size:12px;line-height:18px;font-family:"宋体";color:#333;background:#fff url(../images/cart.png) repeat-x left -40px}
body,html,ul,li,dl,dt,dd,ol,th,td,form,h1,h2,h3,h4,h5,h6,img,p,input{margin:0px;padding:0px;}
img{vertical-align:top;border:0;}
button,select,textarea{outline:none;}
textarea{resize:none}
ul,li{list-style-type:none;}
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix{zoom:1;}
*+html .clearfix{zoom:1;}
.main{width:980px;margin:0 auto}
.margin{margin-bottom:15px;}
.fl{float:left}
.fr{float:right}
em,font,cite{font-size:12px;font-style:normal;}
a{color:#333333;text-decoration:none}
a:hover{color:#333333;text-decoration:underline}
.red{color:red;}

/**头部样式**/
.tel400{display:none}
.top{height:30px;border-bottom:1px solid #C9D0C4;background:#F2F2F2;}
.topMainL{color:#999999;float:left;line-height:30px;}
.topMainL ul{height:18px;margin-top:7px;}
.topMainL ul li{height:18px;line-height:18px;float:left;width:16px;margin-right:6px;background:url(../images/topIco.png) no-repeat}
.topMainL ul li a{width:16px;height:18px;display:block;}
.topMainL ul li.sidebar{width:95px;}
.topMainL ul li.sidebar a{display:block;width:95px;height:18px;}
.topMainL ul li.tweibo{background-position:-96px 0;}
.topMainL ul li.weibo{background-position:-113px 0;}
.topMainL ul li.weixi{background-position:-130px 0;position:relative;cursor:pointer;}
.topMainL ul li.weixi .weixi1{position:absolute;left:-118px;top:16px;z-index:1000000;background:url(../images/weixi.png) no-repeat center top;padding-top:8px;display:none;}
.topMainL ul li.weixi .weixi1 .weixipic{border:2px solid #2e970f;background:#ffffff;border-top:0 none;}
.topMainL ul li.weixi .weixi1 .weixipic p{display:block;line-height:21px;text-align:center;font-family:"\5FAE\8F6F\96C5\9ED1";padding:0px 10px 10px;}
.topMainL ul li.weixi.hover .weixi1{display:block}
.topMainR{float:right;}
.topMainR li{height:17px;float:right;margin-top:7px;border-right:1px solid #d3e6cb;padding:0 15px 0 28px;background:url(../images/globalBackground.png) no-repeat -182px top;}
.topMainR li.join{background-position: -182px -18px;}
.topMainR li a{color:#109516;}
.topMainR li.mainrno{background:none;padding:0 10px;border-color:#CCC}
.topMainR li.fore5{background-position:-182px -310px;}
.topMainR li.mainrno a,.topMainR li.fore5 a{color:#666666;}
/*logo&search*/
.header{overflow:hidden}
.header .logo{float:left;}
.header .Search{float:right;padding:33px 0 0 0;width:342px;}
.header .Search .searchInputT{width:201px;height:22px;padding:5px 10px 5px 36px;float:left;border:1px solid #cccccc;border-right:0 none; background:url(../images/globalBackground.png) no-repeat -180px -37px}
.header .Search .searchBtn{height:34px;width:94px;float:left;background:url(../images/globalBackground.png) no-repeat left -81px;border:0 none;cursor:pointer;}
.header .Search .gjSearch{float:left;line-height:34px;padding-left:25px;}
.header .Search .gjSearch a{color:#999999;}
.header .Search .gjSearch a:hover{color:#109516;text-decoration:underline}

#banner{height:500px;width:100%;}
.banner{position:relative;height:500px;}
.bannerhref{}
.bannerhref a{display:block;width:980px;height:500px;background:url(../images/icon26x26.png) no-repeat -999999px -9999999px;}

.Login{border:1px solid #dcdfe4;width:320px;position:absolute;right:20px;top:40px;z-index:10;background:#FFF}
.LoginTitle{height:35px;line-height:35px;background:url(../images/relTitle.png) repeat-x;font-size:14px;font-weight:bold;padding-left:16px;}
.Login dl{height:26px;padding-top:18px;line-height:26px;}
.Login dl.checkboxB{padding-top:5px;}
.Login dl.checkboxB dd label{padding-right:15px;float:left;}
.Login dl.checkboxB dd label input{margin:7px 3px 0 0;float:left;}

.Login dl.Btnbox{height:34px;padding-bottom:10px;}
.Login dl dt{width:80px;float:left;text-align:right;}
.Login dl dd{float:left;}
.LoginText{height:18px;line-height:18px;padding:3px;border:1px solid #bbbbbb;float:left;}
.LoginBtn{background:#ff893a;border:0;padding:0;margin:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:130px;height:34px;font-size:15px;color:#fff;font-weight:bold;cursor:pointer;}
.Login_Other{border-top:#dcdfe4 dashed 1px;width:280px;margin:0 auto;padding:0 10px 18px 10px;}
.Login_Other b{height:36px;line-height:36px;display:block;color:#666666;font-weight:normal;}
.LoginB{background:#f7f7f7;padding:0 20px;border:1px solid #ffffff;width:278px;}
.LoginB p{height:44px;line-height:22px;}
.LoginB p strong{color:#cc6600;}
#userName{position:relative;}
#userName label{position:absolute;line-height:26px;left:0;top:0;padding-left:5px;color:#bbbbbb;}

.LoginB .join{width:130px;border:1px solid #cccccc;display:block;margin:8px auto 15px auto;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;line-height:34px;height:34px;text-align:center;background:#eaebed;font-weight:bold;font-size:14px;}

.register{border:1px solid #dcdfe4;width:978px;margin:0 auto 30px auto;background:#FFF}
.registerLeft{float:left;padding:40px 0;}
.registerLeft dl{height:26px;padding:0 0 25px 0;}
.registerLeft dl dt{width:130px;float:left;color:#666666;font-size:14px;line-height:26px;text-align:right;}
.registerLeft dl dd{floaT:left;}
.registerLeft dl dd img{margin-left:10px;float:left;}
.registerLeft dl.password{height:45px;}
.registerLeft dl.password dd ul{clear:both;height:14px;padding-top:5px;}
.registerLeft dl.password dd ul li{width:60px;float:left;line-height:14px;background:#ffd099;color:#ffffff;text-align:center;line-height:14px;overflow:hidden;margin-right:1px;}
.registerLeft dl dd span{float:left;padding-left:8px;}


.registerLeft dl.checkboxB{padding:0;}
.registerLeft dl.checkboxB dd input{margin:3px 5px 0 0;float:left;}
.registerLeft dl.checkboxB dd a{color:#317ee7;}
.registerRight{float:right;padding:32px 20px 0 0;}
.registerRight .Login_Other{border:0 none}

.para_blo_title{height:90px;line-height:90px;padding-left:40px;}
.para_blo_title .icon_msg2{width:26px;height:26px;background:url(../images/icon26x26.png) no-repeat;display:block;float:left;margin-top:32px;}
.para_blo_title strong{color:#333333;font-family:微软雅黑,黑体;font-size:20px;float:left;font-weight:normal;padding:0 10px;}
.para_blo_title strong span{color:#009900;}
.para_blo_title input{margin-top:30px;}
.register2{border:1px solid #9ddf55;margin-left:40px;background:#f9fff4;width:800px;padding-left:40px;height:100px;margin-bottom:50px;line-height:24px;}
.register3{font-family:微软雅黑,黑体;font-size:16px;color:#cc6633;padding-top:25px;}
.register3 a{font-family:宋体;font-size:12px;color:#005aa0;}
.register2 p{color:#666666;}

.us_Submit_reg{background:url(../images/yx_btn1.gif) no-repeat;width:180px;height:34px;border:0 none;cursor:pointer}

/*找回密码*/
.forget_passwd{padding:0 35px;}
.forget_passwd h2{font-family:微软雅黑,黑体;font-size:18px;height:52px;line-height:52px;padding-top:12px;border-bottom:1px dashed #DCDFE4}
.forget_passwd h2 a{}
.forget_passwd1 ul{width:656px;margin:0 auto;height:150px;padding-top:38px;}
.forget_passwd1 ul li{width:328px;height:108px;float:left;line-height:32px;}

.forget_passwd2{padding:15px 0 30px}
.forget_passwd2 dl{height:26px;padding:14px 0}
.forget_passwd2 dl dt{width:200px;float:left; text-align:right;}
.forget_passwd2 dl dd{float:left;}
.passwdInput{height:34px;line-height:34px;padding:0 25px;border:0 none;font-family:微软雅黑,黑体;font-size:18px;color:#ffffff;cursor:pointer;background:#ff812d;
	background-image: -moz-linear-gradient(top, #ff954f, #ff812d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff954f), color-stop(1, #ff812d));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff954f', endColorstr='#ff812d', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}
.forget_passwd2 dl dd img{margin-left:10px;float:left;display:inline}

.J_DcFt{border:1px solid #cccccc;border-top:2px solid #4eb828;height:100px;margin:10px auto;width:100%;}
.J_DcFt dl{float:left;width:24.8%;border-right:1px solid #cccccc;height:100px;}
.J_DcFt dl.text_4{border:0 none}
.J_DcFt dl dt{width:32px;height:32px;float:left;background:url(../images/DcFt.png) no-repeat;margin:26px 0 0 20px;display:inline;}
.J_DcFt dl dd{float:left;width:170px;padding-left:12px;}
.J_DcFt dl dd .ccc{font-size:14px;color:#7aaf17;font-weight:bold;padding-top:18px;}
.J_DcFt dl dd .t{color:#222222;line-height:16px;padding-top:5px;}

/**底部**/
.footer{height:48px;width:100%;background:#4eb828;}
.footer ul{width:820px;height:48px;margin:0 auto}
.footer ul li{float:left;line-height:48px;font-size:18px;font-family:微软雅黑,黑体;color:#fff;padding:0 15px 0 38px;background:url(../images/globalBackground.png) no-repeat -172px -70px;}

.footer ul li.footer2{background-position:-172px -118px;}
.footer ul li.footer3{background-position:-172px -166px;}
.footer ul li.footer4{background-position:-172px -214px;}

.footmain{width:980px;margin:0 auto;padding:20px 0;}
.footmain dl{width:178px;float:left;padding-left:18px;}
.footmain dl dt{font-size:16px;font-family:微软雅黑,黑体;line-height:36px;}
.footmain dl dd{}
.footmain dl dd p{height:22px;line-height:22px;background:url(../images/listdian.jpg) no-repeat 2px 10px;padding-left:12px;}
.footmain .weibo{flaot:left;}
.footmain .weibo img{margin-bottom:10px}

.bottom{line-height:52px;border-top:1px solid #cccccc;text-align:center;padding-bottom:20px; clear:both}
.bottom img{margin:0 5px;}


/*左边浮动菜单*/
.fixedBox{width:70px;background:#ffffff;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);border:1px solid #d6d6d6;position:fixed;_position:absolute;right:8px;top:200px;z-index:9999;}
/* IE6浏览器的特有方法 -- 修正IE6振动bug */
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .fixedBox{position:absolute;left:expression(eval(document.documentElement.scrollRight-8));top:expression(eval(document.documentElement.scrollTop+200))}
.fixedBox ul.fixedBoxList{padding:4px 0 5px;}
.fixedBox ul.fixedBoxList li.fixeBoxLi{width:60px;height:55px;background:#f1f1f1;margin:1px auto 0;text-align:center;position:relative;padding:10px 1px 1px 1px;}
.fixedBox ul.fixedBoxList li.cart_bd,
.fixedBox ul.fixedBoxList li.Service{}
.fixedBox ul.fixedBoxList li.cart_bd.hover,
.fixedBox ul.fixedBoxList li.Service.hover{background:#ffffff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);border:1px solid #d6d6d6;padding:9px 0 0 0;}
.fixedBox ul.fixedBoxList li p.good_cart{position:absolute;right:0;top:0;background:#3AA318;height:15px;line-height:15px;display:block;font-size:12px;color:#ffffff;font-weight:bold;padding:0 4px;overflow:hidden;}
.fixeBoxLi .fixeBoxSpan{width:26px;height:24px;display:block;margin:0 auto;cursor:pointer;}
.fixeBoxLi.cart_bd .fixeBoxSpan{background:url(../images/Service3-1.png) no-repeat 0 0px;}
.fixeBoxLi.Service.startWork .fixeBoxSpan{background:url(../images/Service3-1.png) no-repeat -26px 0px;}
.fixeBoxLi.Service.Commuting .fixeBoxSpan{background:url(../images/Service3-1.png) no-repeat -52px 0px;}
.fixeBoxLi.BackToTop .fixeBoxSpan{background:url(../images/Service3-1.png) no-repeat -78px 0px;}
.fixeBoxLi.Home .fixeBoxSpan{background:url(../images/Service3-1.png) no-repeat -104px 0px;}


.fixedBox ul.fixedBoxList li.fixeBoxLi strong{height:22px;line-height:22px;font-weight:normal;color:#666666;cursor:pointer;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox{position:absolute;left:-280px;top:-1px;z-index:9999;width:280px;background:#FFFFFF;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);display:none;border:1px solid #d6d6d6;}
.fixedBox ul.fixedBoxList li.cart_bd.hover .cartBox{display:block;}
.fixedBox ul.fixedBoxList li.hover .bjfff{width:10px;height:64px;background:#fff;position:absolute;right:-5px;top:0;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxList{height:296px;overflow-y:auto;position:relative;z-index:1000000;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul{width:256px;margin:0 auto;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li{height:62px;border-bottom:1px solid #dcdfe4;padding-top:11px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-img{width:48px;height:48px;border:1px solid #dcdfe4;float:left;overflow:hidden;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-img img{width:48px;height:48px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-name{width:116px;height:38px;line-height:19px;overflow:hidden;float:left;text-align:left;padding-left:8px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-name a{color:#666666;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail{width:72px;float:right;text-align:left}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail span.p-price{display:block;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail span.p-price strong{color:red;font-weight:normal;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail a.delete{color:#999999;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .message{background:url(../images/Service4.jpg) no-repeat 15px center;height:92px;line-height:92px;padding-left:80px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot{height:48px;line-height:48px;text-align:left;width:256px;margin:0 auto;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot span{float:left;color:#999999;line-height:48px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot em{float:left;line-height:48px;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot strong{float:left;line-height:48px;font-size:12px;font-weight:bold;color:red;}
.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot a#btn-payforgoods{
	margin-top:11px;
	float:right;
	cursor:pointer;
	width:80px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:1px solid #e46d1d;
	background:#F63;
	color:#ffffff;
	box-shadow:1px 1px 0px #f8ccb0 inset,-1px -1px 0px #f8ccb0 inset;
	background-image: -moz-linear-gradient(top, #ffac75, #FF822F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffac75), color-stop(1, #FF822F));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac75', endColorstr='#FF822F', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox{width:182px;position:absolute;left:-182px;top:-1px;z-index:9999;background:#FFFFFF;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);z-index:999;display:none;border:1px solid #d6d6d6;}
.fixedBox ul.fixedBoxList li.Service.hover .ServiceBox{display:block}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl{height:85px;width:162px;margin:0 auto;padding-top:10px;border-bottom:1px solid #d6d6d6;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dt{float:left;width:71px;height:71px;padding:1px;border:1px solid #e1e2e3;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd{width:80px;float:right;text-align:left;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd strong{height:20px;line-height:20px;font-weight:bold;color:#333333;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p1{height:18px;line-height:18px;overflow:hidden;color:#666666;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2{height:24px;padding-top:10px;}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2 a{
	cursor:pointer;
	display:block;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	border:1px solid #d8d8d8;
	background:#f4f4f4;
	color:#333333;
	background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f2f2f2));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType='0');}
/*左边浮动菜单 end*/