@charset "utf-8";
.tel400{display:none}
.main1200{width:980px;}
.mainAd{display:none;}
.userBoxNav{height:26px;border-bottom:2px solid #ffcc67;margin-bottom:15px;}
.userBoxNav ul{}
.userBoxNav ul li{
	margin-right:10px;
	padding:0 10px;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	border:1px solid #e6e6e6;
	border-bottom:0 none;
	background:#eaeaea;
	color:#ffffff;
	box-shadow:1px 1px 0px #ffffff inset,-1px 0px #ffffff inset;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f2f2f2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType='0');
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
}
.userBoxNav ul li.cur{
	border-color:#edd28b;
	background:#fddcc7;
	background-image: -moz-linear-gradient(top, #fdfcf2, #fce6c7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfcf2), color-stop(1, #fce6c7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcf2', endColorstr='#fce6c7', GradientType='0');
}
.userBoxNav ul li a{color:#333333;}
.userBoxNav ul li.cur a{color:#cc0000;font-weight:bold;}


.userLeft{width:146px;float:left;border:2px solid #dddddd;margin-right:15px;}
.userLeft dl{padding-bottom:12px;}
.userLeft dl dt{padding:0 0 0 16px;height:32px;line-height:32px;font-size:14px;font-weight:bold;color:#333333;
	box-shadow:0px 0px 0px #ffffff inset,0px -1px #ffffff inset;
	background-image: -moz-linear-gradient(top, #f9f9f9, #eeeeee);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee', GradientType='0');
	border-bottom:1px solid #dddddd;
}

.userLeft dl dd{padding-left:26px;line-height:28px;height:28px;}
.userLeft dl dd a{color:#666666;}
.userLeft dl dd.cur{background:#4eb828;}
.userLeft dl dd.cur a{color:#ffffff;}

.userRight{width:815px;float:left;}
.userinfo{background:#fffcf5;border:1px solid #fcad39;}
.userinfo .userinfoLeft{width:525px;height:130px;border-right:1px solid #fcad39;float:left;padding-left:25px;}
.userinfo .username{height:46px;line-height:46px;overflow:hidden;}
.userinfo .username h3{float:left;font-size:15px;}
.userinfo .username span{padding:0 10px;color:#009900}
.userinfo .username em{color:#999999;}
.userinfo .picture{width:62px;height:62px;border:1px solid #dddddd;float:left;}
.userinfo .picture img{width:62px;height:62px;}
.userinfo .userinfo1{float:left;padding:5px 0 5px 20px;}
.userinfo .userinfo1 .acco-safe{height:26px;line-height:26px;}
.userinfo .userinfo1 .acco-safe span{float:left;}
.userinfo .userinfo1 .acco-safe a{float:left;color:#0066cc;padding-right:8px;}
.userinfo .userinfo1 .acco-safe a.no{color:#cc3300;}
.userinfo .userinfo1 .acco-safe a s{width:19px;height:19px;display:block;float:left;background:url(../images/acco-safe.png) no-repeat;margin:3px 3px 0 0;}
.userinfo .userinfo1 .acco-safe a.tel s{background-position:-39px -19px;}
.userinfo .userinfo1 .acco-safe a.tel.no s{background-position:-19px -19px;}
.userinfo .userinfo1 .acco-safe a.mail s{background-position:-39px 3px;}
.userinfo .userinfo1 .acco-safe a.mail.no s{background-position:-19px 3px;}
.userinfo .userinfo1 .acco-safe a.spsd s{background-position:-39px -38px;}
.userinfo .userinfo1 .acco-safe a.spsd.no s{background-position:-19px -38px;}
.userinfo .userinfo1 .acco-safe a.rank{}
.userinfo .userinfo1 .acco-safe a.rank.r1 s{background-position:left -0px;}
.userinfo .userinfo1 .acco-safe a.rank.r2 s{background-position:left -19px;}
.userinfo .userinfo1 .acco-safe a.rank.r3 s{background-position:left -38px;}
.userinfo .userinfo1 .acco-safe a.rank.r4 s{background-position:left -57px;}
.userinfo .userinfo1 .acco-safe a.rank.r5 s{background-position:left -76px;}
.userinfo .userinfo1 .acco-safe a.rank.r6 s{background-position:left -95px;}
.userinfo .userinfo1 .acco-safe a.rank.r7 s{background-position:left -114px;}
.userinfo .userinfo1 .acco-safe a.rank.r8 s{background-position:left -133px;}
.userinfo .userinfo1 .acco-safe a.rank.r9 s{background-position:left -152px;}
.userinfo .userinfo1 .acco-safe a.rank.r10 s{background-position:left -171px;}
.userinfo .userinfo1 .acco-safe em{float:left;color:#999999;}
.userinfo .userinfo1 .acco-safe em a{float:none;color:#0066cc;}

.userinfo .userinfoRight{width:262px;height:130px;float:left;background:#fff7ec;}
.userinfo .userinfoRight ul{padding-top:15px;}
.userinfo .userinfoRight ul li{height:30px;line-height:30px;}
.userinfo .userinfoRight ul li em{width:80px;float:left; text-align:right;}
.userinfo .userinfoRight ul li b{color:#cc0000;padding:0 7px 0 3px;}
.userinfo .userinfoRight ul li span{color:#666666;padding:0 7px 0 3px;}
.userinfo .userinfoRight ul li a{color:#0066cc;}

.userBuy{}
.userBuy .userBuyT{height:38px;line-height:38px;padding-top:8px;}
.userBuy .userBuyT h3{float:left;}
.userBuy .userBuyT a{float:right;color:#005ea7;}

.userBuy .userBuyC{}
.userBuy .userBuyC table{border:1px solid #dcdfe4;border-bottom:0 none}
.userBuy .userBuyC table th,.userBuy .userBuyC table td{padding-left:10px; text-align:left;}
.userBuy .userBuyC table th .blue,.userBuy .userBuyC table td .blue{color:#0066cc;}
.userBuy .userBuyC table th{background:#f3f3f3;height:30px;line-height:30px;border-top:1px solid #fff;}
.userBuy .userBuyC table td{height:32px;border-bottom:1px solid #dcdfe4;}

.kuaidiL{width:209px;float:left;border:1px solid #DDDDDD;background:#f7f7f7;border-right:0;}
.kuaidiL p{border-bottom:1px solid #dddddd;background:#ececec;line-height:22px;padding:5px 0 5px 15px;}
.kuaidiL p strong{display:block;}
.kuaidiL ul{padding:5px 0 5px 15px;}
.kuaidiL ul li{line-height:22px;}
.kuaidiR{width:770px;float:right;}
.kuaidiR1{width:718px;border:1px solid #DDDDDD;padding:25px 25px 10px 25px;}
.kuaidiT{border:1px solid #D8D8D8;border-bottom:0 none;}
.kuaidiT td{border-bottom:1px solid #D8D8D8;background:#FBFBFB;padding:10px;height:22px;}
.kuaidiT td.row1{width:150px;text-align:right;}
.kuaidiT td.status{width:30px;background:url(../images/ico_status.gif) no-repeat -50px center;}
.kuaidiT td.status-first{background:url(../images/ico_status.gif) no-repeat left center;}
.kuaidiT td.status-last{background:url(../images/ico_status.gif) no-repeat -150px center;}
.kuaidiT td.status-wait{background:url(../images/ico_status.gif) no-repeat -100px center;}
.kuaidiT tr.last td{color:#FF8C00}
.kuaidiR .tips{padding-bottom:18px;}
.kuaidiR .tips p{border:1px solid #FFCC7F;background:url(../images/weizhid.png) no-repeat 10px 6px #FFFFE5;height:26px;line-height:26px;padding:0 20px 0 32px;}
.kuaidiR .tips p a{color:#0579C6;}
.kuaidiR1{}
.kuaidiR1 ul{}
.kuaidiR1 ul li{width:80px;height:80px;margin:0 10px 10px 0;float:left}
.kuaidiR2{width:718px;border:1px solid #DDDDDD;background:#F7F7F7;padding:7px 25px;margin-top:15px;}
.kuaidiR2 ul li{line-height:22px;}

.userTitle{height:30px;line-height:30px;color:#535353;background:#f9f9f9;margin-bottom:6px;padding-left:20px;font-weight:bold;font-size:14px;border:1px solid #e8e8e8;
	box-shadow:1px 1px 0px #ffffff inset,-1px -1px 0px #ffffff inset;
	background-image: -moz-linear-gradient(top, #f9f9f9, #e7e7e7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #e7e7e7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e7e7e7', GradientType='0');
}
.userTitle a.returnToCart{color:red;font-size:12px;padding-left:10px;}
.userinfoTable{border:1px solid #dddddd;margin-bottom:15px;padding:15px 0 25px 0;}
.userinfoTable td{padding:5px;height:25px;}
.userInput{height:18px;line-height:18px;padding:2px 3px;border:1px solid #cccccc;}

.userBtn{background:url(../images/userBtn80.jpg) no-repeat;border:0 none;cursor:pointer;width:80px;height:24px;line-height:24px;text-align:center;color:#ffffff;margin-right:10px;float:left;}
.userBtn110{background:url(../images/userBtn110.jpg) no-repeat;border:0 none;cursor:pointer;width:110px;height:24px;line-height:24px;text-align:center;color:#ffffff;margin-right:10px;}

.userBtn1{background:url(../images/userBtn1.jpg) no-repeat;border:0 none;cursor:pointer;width:75px;height:24px;line-height:24px;text-align:center;color:#7d7d7d;display:block;}
	
	
.btn_common{
	font-weight:bold;
	width:100px;
	margin:15px 0;
	text-align:center;
	cursor:pointer;
	color:#333333;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #df9c29;
	background:#fce9c8;
	box-shadow:1px 1px 0px #ffffff inset,-1px -1px #fce7c2 inset;
	background-image: -moz-linear-gradient(top, #fef6e8, #fad89d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fef6e8), color-stop(1, #fad89d));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef6e8', endColorstr='#fad89d', GradientType='0');
	border-radius:4px;
	-moz-border-radius:4px;}
.PaymentBtn{padding:10px 0;}
.PaymentBtn input{cursor:pointer;width:122px;height:35px;background:url(../images/PaymentBtn.jpg) no-repeat;overflow:hidden;border:0 none;text-indent:-999px;}


.userEshopTable{background:#dddddd;}
.userEshopTable td{background:#ffffff;height:18px;padding:10px;}
.userEshopTable td a.blue{color:#0066cc;padding-right:8px;}

.operate{}
.operate a{color:#0066cc;padding-right:8px;display:block;}
.operate .Confirm,.operate .Payment,.operate .Comment{display:block;margin-bottom:5px;text-align:center;color:#fff;background:url(../images/Btn1.png) no-repeat;}
.operate .Confirm{height:25px;line-height:25px;width:67px;}
.operate .Confirm:hover{background-position:left -26px;}
.operate .Payment{width:49px;height:25px;line-height:25px;background-position:left -78px;}
.operate .Payment:hover{background-position:left -52px;}
.operate .Comment{width:59px;height:20px;line-height:20px;background-position:left -104px;color:#666666;}
.operate .Comment:hover{background-position:left -125px;}
.userEshopTable td .operate a.blue{padding:0;}

.userTable{background:#dddddd;}
.userTable td,.userTable th{background:#ffffff;padding:5px;height:20px;line-height:20px;text-align:left;vertical-align:top;}

.pagebar{ text-align:right;padding:15px 0 10px}
.pagebar a{display:inline-block;height:18px;line-height:18px;padding:0 10px;border:1px solid #ccc;}
.pagebar span{}
.pagebar span.f6{display:none}

.inputFloat{float:left;}
.FloatBox{float:left;height:26px;padding-left:2px;position:relative;}
.FloatBox #phoneTip{position:absolute;}
.FloatBox #phoneTip.onError{width:125px;}
.FloatBox #phoneTip.onFocus{width:160px;}
.FloatBox #phoneTip.onCorrect{width:75px;}
.FloatBox #mobileTip.onFocus{position:absolute;width:120px;}
.FloatBox span{display:block;height:26px;line-height:26px;padding:0 5px 0 26px;color:#666666;}
.FloatBox span.onShow{display:none}
.onError{background:url(../images/onError.gif) no-repeat;border-right:1px solid #fcad38;}
.onFocus{background:url(../images/onFocus.gif) no-repeat;border-right:1px solid #0045b2;}
.onCorrect{background:url(../images/onCorrect.gif) no-repeat;border-right:1px solid #24a924;}

/*商品评论*/
.userBuy .userBuyC table.userBuyTable td{padding:0;}
.Commoditycomment{width:570px;padding:10px 0 10px 10px;float:left;line-height:20px;}
.Commoditycomment .commentImg{width:50px;height:50px;border:1px solid #ccc;float:left;}
.Commoditycomment h4{float:left;padding-left:10px;}
.Commoditycomment h4 a{font-weight:normal;font-size:12px;}
.Commoditycomment h4 div{height:22px;line-height:22px;}
.Commoditycomment h4 div span{float:left;}
.Commoditycomment h4 div strong{float:left}
.Commoditycomment h4 .star{height:15px;display:block;width:76px;text-indent:999999px;overflow:hidden;background:url(../images/star.png) no-repeat;margin-top:5px;}
.Commoditycomment h4 .sa4{background-position:-15px top;}
.Commoditycomment h4 .sa3{background-position:-30px top;}
.Commoditycomment h4 .sa2{background-position:-45px top;}
.Commoditycomment h4 .sa1{background-position:-60px top;}

.BuyTime{line-height:20px;float:left;width:120px;padding:10px 0 0 10px;}
.CommentOperating{line-height:20px;width:90px;float:left;padding:10px 0 0 13px;}
.CommentOperating span{display:block;}
.CommentOperating em{color:#999999;}
.prompt{width:813px;border-top:1px solid #DCDFE4;background:#f5f5f5;height:0;overflow:hidden;}
.prompt dl{}
.prompt dl dt{float:left;width:62px;padding-right:8px;text-align:right;}
.prompt dl dd{width:720px;float:left;}
.prompt dl dd ul{height:32px;}
.prompt dl dd ul li{width:140px;float:left;height:15px;padding:8px 0;}
.prompt dl dd ul li input{float:left;}
.prompt dl dd ul li label{float:left;padding-left:5px;}
.prompt dl dd ul li label strong{height:15px;display:block;width:76px;text-indent:999999px;overflow:hidden;background:url(../images/star.png) no-repeat;}
.prompt dl dd ul li label strong.sa4{background-position:-15px top;}
.prompt dl dd ul li label strong.sa3{background-position:-30px top;}
.prompt dl dd ul li label strong.sa2{background-position:-45px top;}
.prompt dl dd ul li label strong.sa1{background-position:-60px top;}
.prompt dl dd .textarea_long{width:705px;height:120px;border:1px solid #ccc;font-size:12px;line-height:22px;padding:5px;margin:0;}
.prompt dl dd p.g{height:30px;width:717px;padding:10px 0 15px;}
.prompt dl dd p.g label{float:left;height:20px;line-height:20px;}
.prompt dl dd p.g label input.c{margin:4px 5px 0 0;float:left}
.prompt dl dd p.g label em{float:left;}
.prompt dl dd p.g label a{color:#085C9B;padding:0 5px;}
.prompt dl dd p.g label a:hover{color:#c00;}
.prompt dl dd p.g .btn_common{float:right;width:62px;height:24px;border:1px solid #cdcdcd;line-height:24px;cursor:pointer;color:#545454;margin:0;
	background:#f0f0f0;
	background-image: -moz-linear-gradient(top, #ffffff, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ececec));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec', GradientType='0');
}
.prompt dl dd p.g .btn_common:hover{
	background:#f0f0f0;
	background-image: -moz-linear-gradient(top, #ffffff, #fafafa);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #fafafa));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType='0');
}
.prompt dl dd p.g .word{float:right;padding-right:10px;}


.fixedBox{position:fixed;right:0px;top:200px;z-index:10000;_position:absolute;}
.ntalker{position:relative;width:128px;padding-top:45px;}
.ntalker .BackToTop{width:50px;height:35px;background:#fff;padding-top:10px;border:1px solid #e4e4e4;border-bottom:0 none;margin:0 auto;position:absolute;left:38px;top:0px;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);border-radius:2px 2px 0 0;cursor:pointer}
.ntalker .BackToTop a{width:25px;height:25px;display:block;background:url(../images/ntalker.gif) no-repeat;margin:0 auto;}
.ntalker .BackToTop a:hover{background-position:left -25px;}
.ntalker ul{height:94px;overflow:hiddenwidth:120px;border:1px solid #e4e4e4;padding:2px 3px;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);background:#ffffff;}
.ntalker ul li{height:33px;line-height:38px;background:url(../images/ntalker.jpg) no-repeat;font-size:12px;color:#ffffff;font-weight:bold;padding-left:34px;cursor:pointer;float:left;width:120px;}
.ntalker ul li.ntalker1{background-position:left -33px;line-height:28px;height:28px;}
.ntalker ul li.ntalker2{line-height:24px;height:32px;background-position:left -4px;}

.siteGoodsfhzw{height:24px;line-height:20px;font-size:15xp;padding-top:15px;}