<!--{template @admin/header}--> <div class="header"> <div class="is_button"><a href="?mod=salecount&code=product">产品销售报表</a></div> <div class="is_current"><a href="?mod=salecount&code=payment">支付接口报表</a></div> <div class="is_button"><a href="?mod=salecount&code=user">用户消费报表</a></div> <div class="is_button"><a href="?mod=salecount&code=fund">产品结算报表</a></div> <div style="float:right;"><a class="button  back1 back2 fr" href="?mod=export&code=countpayment&referrer={echo urlencode($_SERVER['QUERY_STRING'])}">导出数据</a></div> </div>
{~ui('isearcher')->load('admin.count_payment')}
<div> <a href="admin.php?mod=salecount&code=payment">全部</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d');}&iscp_tvfinish_salecount_payment=">今日</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-86399);}&iscp_tvfinish_salecount_payment={eval echo date('Y-m-d', time()-86399);}">昨日</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-(86400*7)-1);}&iscp_tvfinish_salecount_payment=">近七天</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-(86400*30)-1);}&iscp_tvfinish_salecount_payment=">近一月</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-(86400*90)-1);}&iscp_tvfinish_salecount_payment=">近三月</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-(86400*180)-1);}&iscp_tvfinish_salecount_payment=">近半年</a> &nbsp; 
<a href="admin.php?mod=salecount&code=payment&iscp_tv_area=salecount_payment&iscp_tvfield_salecount_payment=ordbt&iscp_tvbegin_salecount_payment={eval echo date('Y-m-d', time()-(86400*365)-1);}&iscp_tvfinish_salecount_payment=">近一年</a> &nbsp; 
</div> <table id="productTable" cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder"> <tr class="tr_nav"> <td>支付ID</td> <td>标记符</td> <td>支付名称</td> <td>支付金额</td> </tr> <!--{loop $list $one}--> <tr> <td>{$one['id']}</td> <td>{$one['paycode']}</td> <td>{$one['payname']}</td> <td>{$one['paymoneys']}</td> </tr> <!--{eval $__total += $one['paymoneys'];}--> <!--{/loop}--> <tr> <td colspan="3"> &nbsp; </td> <td>总计：{$__total}</td> </tr> <tr> <td colspan="4">{~page_moyo()}</td> </tr> </table> <script type="text/javascript" src="static/js/admin/jsapi.js"></script> <script type="text/javascript" src="static/js/admin/corechart.js"></script> <script type="text/javascript" src="static/js/admin/jquery.gvChart-1.0.1.min.js"></script> <script type="text/javascript" src="static/js/admin/jquery.ba-resize.min.js"></script> <script type="text/javascript">
gvChartInit();
$(function(){
$('#B_tab_box').gvChart({
chartType: 'PieChart',
gvSettings: {
// vAxis: {title: 'No of players'},
// hAxis: {title: 'all'},
width: 864,
height: 360
}
});
});
</script> <table id="B_tab_box" style="display: none;"> <caption>支付接口报表</caption> <thead> <tr> <th></th> <!--{loop $list $one}--> <!--{if $one[paymoneys]>0}--> <th>{$one[payname]}</th> <!--{/if}--> <!--{/loop}--> </tr> </thead> <tbody> <tr id="pageContent"> <th>{$__total}</th> <!--{loop $list $one}--> <!--{if $one[paymoneys]>0}--> <td>{$one[paymoneys]}</td> <!--{/if}--> <!--{/loop}--> </tr> </tbody> </table>
{template @admin/footer}
