<!-- $Id: admin_logs.htm 15477 2008-12-22 03:44:50Z sunxiaodong $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="POST" action="join.php?act=batch_drop" name="listForm">
<!-- start admin_logs list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"></th>
    <th>公司名称</th>
    <th>地　　区</th>
    <th>详细地址</th>
    <th>联 系 人</th>
    <th>联系电话</th>
    <th>电子邮箱</th>
    <th>代理级别</th>
    <th>注册资本</th>
    <th>年销售额</th>
    <th>品牌/类别</th>
    <th>合作伙伴</th>
    <th>留  言</th>
    <th>提交时间</th>
  </tr>
  {foreach from=$joins_list item=list}
  <tr>
    <td align="center"><span><input name="checkboxes[]" type="checkbox" value="{$list.id}" /></span></td>
    <td class="first-cell"><span>{$list.company_name}</span></td>
    <td align="center">{$list.cts}</td>
    <td align="left">{$list.address}</td>
    <td align="center">{$list.linkname}</td>
    <td align="center">{$list.mobile}</td>
    <td align="center">{$list.email}</td>
    <td align="center">{$list.agency_rank}</td>
    <td align="center">{$list.registered_capital}</td>
    <td align="center">{$list.annual_sales}</td>
    <td align="center">{$list.brand}</td>
    <td align="center">{$list.partner}</td>
    <td align="left">{$list.message}</td>
    <td align="center">{$list.addtime}</td>
  </tr>
  {/foreach}
  <tr>
    <td colspan="2"><input name="drop_type_id" type="submit" id="btnSubmit" value=" 删 除 " disabled="true" class="button" /></td>
    <td align="right" nowrap="true" colspan="27">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // &#65533;&#65533;&#700;&#65533;&#65533;鹜&#65533;&#65533;
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
